importFrom(methods, "setOldClass")

importFrom(rjags, "jags.model", "coda.samples", "adapt")

import(parallel)

exportClasses("simplejags")

exportMethods("traceplot")

export("jags", "simplejags", "pp.check", "traceplot", 
       "whiskerplot")

S3method("plot", "simplejags")
S3method("xyplot", "simplejags")
S3method("densityplot", "simplejags")
S3method("print","simplejags")
S3method("update","simplejags")

