importFrom(methods, "setOldClass")

importFrom(rjags, "jags.model", "coda.samples", "adapt")

import(parallel)

exportClasses("jagsUI")

exportMethods("traceplot")

export("jags", "jagsUI","pp.check", "traceplot", 
       "whiskerplot")

S3method("plot", "jagsUI")
S3method("xyplot", "jagsUI")
S3method("densityplot", "jagsUI")
S3method("print","jagsUI")
S3method("update","jagsUI")
S3method("summary","jagsUI")

